@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #ffffff;
    --green-100: #88b447;
    --green-200: #5c9127;
    --green-300: #6a9d36;
    --brown-100: #493e15;
    --brown-200: #46280e;
    --brown-300: #2c1800;
    --yellow: #fac847;
    --blue: #2929f8;
    --background-about: url('images/DSC_2905.jpg');
    --background-followus: url('images/DSC07608.jpg');
}

html {
    scroll-behavior: smooth !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--white);
}
h1,
h2,
h3,
h4 {
    font-family: 'Rubik', sans-serif;
}

p,
a {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
p,
a {
    color: var(--brown-300);
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}
h3 {
    font-size: 1.5rem;
    font-weight: 600;
}
p {
    font-size: 1rem;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1.1rem;
        font-weight: 600;
    }
    p {
        font-size: 1rem;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
.slick-prev,
.slick-next {
    width: 44px !important; /* Largura das setas */
    height: 44px !important; /* Altura das setas */
    background-color: transparent !important; /* Cor de fundo transparente */
    border-radius: 50% !important; /* Forma das setas */
    z-index: 10 !important; /* Coloca as setas acima de outros elementos */
}

.slick-prev:before,
.slick-next:before {
    font-size: 2rem !important; /* Tamanho do ícone das setas */
    color: var(--white) !important; /* Cor das setas */
}

.slick-prev {
    left: 10px !important; /* Distância da borda esquerda */
}

.slick-next {
    right: 10px !important; /* Distância da borda direita */
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
}
.shadowMenu {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 40px 0px;
}

.background {
    background: var(--background-about) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .fadeImage {
        width: 100%;
        height: 100%;
    }
}

.backgroundFollowUs {
    background: var(--background-followus) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .fadeImage {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .background {
        background-position: center;
        background-size: contain;
        height: 100%;
    }
    .backgroundFollowUs {
        background-position: center;
        background-size: contain;
        height: 100%;
    }
}

@keyframes vibrate {
    0%,
    20% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-4px);
    }
    50% {
        transform: translateX(4px);
    }
    75% {
        transform: translateX(-4px);
    }
    100% {
        transform: translateX(0);
    }
}

.vibrating-icon {
    animation: vibrate 1.5s ease-in-out infinite;
}
